services:
  api:
    build:
      context: .
      dockerfile: Tickets.API/Dockerfile
    ports:
      - "7181:7181"
      - "7182:7182"
    environment:
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal,1433;Database=DoubleVPartners_SlnTickets;User Id=sa;Password=SQL#123456789;TrustServerCertificate=True;Encrypt=False
      - ASPNETCORE_ENVIRONMENT=Development
  client-test: 
    build:
      context: . # ¡El contexto sigue siendo la raíz!
      # Ruta corregida: SÓLO la carpeta del cliente
      dockerfile: Tickets.Client.Test/Dockerfile 
    container_name: tickets-client-test 
    depends_on:
      - api # Se asegura que la API arranque primero